* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: lightblue;
}
nav h1 a {
    text-decoration: none;
    color: black;
}

nav div span {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: lightslategray;
}


.breadcrumbs {
    margin-top: 100px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: black;
    font-size: large;
}

/* homepage home section */
section.home .hero {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.home .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: white;
    -webkit-text-stroke: 1px black;
    transform: translate(-50%, -50%);
}

section.home .welcome {
    margin-top: 30px;
    padding: 20px 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

section.home .destination {
    padding: 20px 50px;
}

section.home .destination h2 {
    margin-bottom: 30px;
}

section.home .destination .col {
    display: flex;
    gap: 2rem;
    flex: 1;
}

section.home .destination .col div {
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

section.home .destination .col div img {
    border-radius: 10px;
    width: 100%;
    transition: all 0.5s;
}

section.home .destination .col div:hover img {
    transform: scale(1.5);
}

section.home .destination .col div h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

section.home .gallery {
    padding: 20px 50px;
}

section.home .gallery h2 {
    margin-bottom: 30px;
}

section.home .gallery .col{
    display: flex;
    flex: 1;
    gap: 2rem;
}

section.home .gallery .col div {
    border-radius: 10px;
    overflow: hidden;
}

section.home .gallery .col div img {
    border-radius: 10px;
    width: 100%;
    transition: all 0.5s;
}

section.home .gallery .col div img:hover {
    transform: scale(1.5);
}

/* destinationpage section */
section.destination {
    padding: 20px 50px;
    margin-bottom: 30px;
    overflow: hidden;
}

section.destination h1 {
    margin-top: 80px;
    margin-bottom: 30px;
}

section.destination .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    justify-content: center;
}

section.destination .grid div {
    position: relative;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

section.destination .grid div img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

section.destination .grid div:hover img {
    transform: scale(1.5);
}

section.destination .grid div h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    transform: translate(-50%, -50%);
}

/* gallerypage section */
section.gallery {
    padding: 20px 50px;
}

section.gallery h1 {
    margin-top: 80px;
    margin-bottom: 30px;
}

section.gallery .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    justify-content: center;
}

section.gallery .grid div {
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

section.gallery .grid div img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

section.gallery .grid div:hover img {
    transform: scale(1.5);
}

section.show-content {
    padding: 20px 50px;
}

section.show-content .flex {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
}

section.show-content .flex img {
    width: 50%;
    border-radius: 10px 0 0 10px;
}

section.show-content .flex div {
    padding: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    width: 50%;
}

/* Footer */
footer {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
}

footer h2 a {
    text-decoration: none;
    color: black;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: start;
    gap: 2rem;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
    transition: all 0.5s;
}

footer ul li a:hover {
    color: lightslategray;
}


/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
    /* Navbar */
    nav {
        flex-wrap: wrap;
    }

    nav div span {
        display: block;
        background-color: black;
        height: 2px;
        width: 100%;
    }

    nav div {
        width: 35px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    nav ul.hidden {
        display: none;
    }

    /* homepage home section */
    section.home .hero h1 {
        font-size: 40px;
    }

    section.home .destination .col {
        flex-direction: column;
    }

    section.home .gallery .col {
        flex-direction: column;
    }

    /* destinationpage section */
    section.destination .grid {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    section.destination .grid div {
        width: auto;
    }

    /* gallerypage section */
    section.gallery .grid {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    section.gallery .grid div {
        width: auto;
    }

    section.show-content .flex {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    section.show-content .flex img {
        width: 100%;
        border-radius: 0;
    }

    section.show-content .flex div {
        width: 100%;
        border: 0;
    }

    /* Footer */
    footer {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
        justify-content: space-between;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    nav {
        padding: 20px;
    }

    section.home .hero h1 {
        font-size: 30px;
    }

    section.home .destination {
        padding: 20px;
    }

    section.home .gallery {
        padding: 20px;
    }

    /* destinationpage section */
    section.destination {
        padding: 20px;
    }

    /* gallerypage section */
    section.gallery {
        padding: 20px;
    }

    section.show-content {
        padding: 20px;
    }

    /* Footer */
    footer {
        padding: 20px;
    }
}
